//sidebar
$menuText:#bfcbd9;
$menuActiveText:#fff;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;
$menuActive:#2d8cf0;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

$navbarHeight: 50px;

// 状态颜色
$redStatus:#ed3f14;
$greenStatus:#59bba4;
$orangeStatus:#ff9900;
$yellowStatus:#FFEB3B;
$grayStatus:#D9D9D9;
$blueStatus: #2c8fea;

// 主题进度楼栋相关
$acceptDefault: #fff; // 默认颜色
$processAccepted: #dbebe7; // 验收通过


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuActive: $menuActive;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  redStatus: $redStatus;
  greenStatus: $greenStatus;
  orangeStatus: $orangeStatus;
  yellowStatus: $yellowStatus;
  grayStatus: $grayStatus;
  blueStatus: $blueStatus;
  acceptDefault: $acceptDefault;
  processAccepted: $processAccepted;
}
